nav {
	color: #fff;
}
a:active {
	color: #30a4fe;
}
a {
	color: #fff;
}
a:hover{
	color: #ff3183;
}

body {
	background-color: #fff;
	text-align: left;
}
body h1 {
	margin-top: 10px;
	text-transform: uppercase;
	font-size: 25px;
	text-align: center;
}

form {
	background-color: #f2f2f2;
	padding: 20px;
}
.jumbotron p {
	text-align: center;
	color: #ff3183;
}

